<!DOCTYPE html>
<html>
<head>
  <title>GiftRAPPED</title>
  <%= stylesheet_link_tag "main.css" %>
  <%= stylesheet_link_tag "rhyming_diagram.css" %>
  <%= stylesheet_link_tag "smoothness/jquery-ui-1.10.3.custom.min.css" %>
  <%= stylesheet_link_tag "token-input-phonemes.css" %>
  <%= javascript_include_tag "jquery-1.9.1.js" %>
  <%= javascript_include_tag "jquery-ui-1.10.3.custom.min.js" %>
  <%= javascript_include_tag "jquery.tokeninput.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="flash">
  <% flash.each do |key, value| %>
    <div class="flash" id="<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>

</body>
</html>
